.git
.gitignore
.vscode
node_modules
branch-sales-management/node_modules
branch-sales-management/dist
branch-sales-backend/target
db260112.sql
*.log
*.zip
*.tar
*.gz
*.sql
patch_light_mode.js
patch_light_mode_2.js
query_db.js
test-api.js
verify_stock.js
